@charset "UTF-8";
body {
  /* Set Page Font */
	font-family: "Times New Roman", Times, serif;
  /* Set Background Color Light Green */
	background-color: #D4EFDF;
  /* Add Margin Space */
	margin-left: 22px;
}

h1{
  /* Center all <h1></h1> tags */
  text-align: center;
}

h3{
  /* Center all <h3></h3> tags */
  text-align: center;
}


h4{
  /* Playing With Code */
  
}
