/*I'm not sure what this does*/
@charset "UTF-8";


body {
  /* Set Page Font */
	font-family: Times, "Times New Roman", serif
  /* Set the background color to light beige */
	background-color: #D4EFDF;
  /* Add some space to the left side */
	margin-left: 22px;
}

h1{
  /* Center all <h1></h1> tags */
  text-align: center;
}

h3{
  /* Center all <h3></h3> tags */
  text-align: center;
}
